@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Adam Cohill<br />
    Indianapolis, In 46256<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Adamcohill16@gmail.com">AdamCohill16@gmail.com</a><br />
</address>